.display {
  word-wrap: break-word;
  display: flex;
  flex-flow: column;
  grid-area: display;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  color: black;
  background-color: green;
}
.number1{
  grid-area: one;
}
.number2{
  grid-area: two;
}
.number3{
  grid-area: three;
}
.number4{
  grid-area: four;
}
.number5{
  grid-area: five;
}
.number6{
  grid-area: six;
}
.number7{
  grid-area: seven;
}
.number8{
  grid-area: eight;
}
.number9{
  grid-area: nine;
}
.number0{
  grid-area: zero;
}
.dot {
  grid-area: dot;
}
.equal{
  grid-area: equal;
}
.divide{
  grid-area: divide;
  background-color: #1B998B;
}
.multiply{
  grid-area: multiply;
  background-color: #ED217C;
}
.subtract{
  grid-area: subtract;
  background-color: #2D3047;
}
.plus{
  grid-area: plus;
  background-color: #FFFD82;
}
.clear{
  grid-area: clear;
}
.delete{
  grid-area: delete;
}
.calculator {
  background-color: rgb(70, 70, 70);
  padding: 20px 20px;
  border-style: solid;
  border-width: 5px;
  border-color: black; 
  width: 300px;
  height: 400px; 
  margin-top: 50px;
  display: grid;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-rows: repeat(5, 60px);
  grid-template-columns: repeat(4, 60px);
  grid-template-areas: 
  'display display display display'
  'delete delete clear clear'
  'seven eight nine divide'
  'four five six multiply'
  'one two three subtract'
  'zero dot equal plus';
}
div p {
  text-align: right;
  height: 50%;
  font-size: 100%;
}
button {
  border-width: 5 px;
  border-color: grey;
  font-size: 25px;
  border-radius: 10px;
}
body {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #ffffff;
  row-gap: 50px;
}
h1 {
  color: black;
}
.about{
  display: flex;
  align-items: center;
}
img {
  
  object-fit: contain;
  height: 50px;
}
